*{margin: 0;
padding:0;}

@font-face {
    font-family:Font;
    src: url(../font/B20Sans.ttf);
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;  
    font-family:Font,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0; 
    border: 10px solid #F5F5F5;
    padding: 1%;
}



h1, h2, h3, h4, h5, h6 {
    color: #222;    
   /* line-height: 1.3;*/
}

h2 {
    margin-top: 1.3em;
}


a:link   
{
    color: white;
 text-decoration:none;   
} 

b, strong {
    font-weight: 600;
}

a:visited{text-decoration: none;color: white;}

a{text-decoration: none;color:white;}

p{
    font-size: 1.5em;
    }

samp {
    display: none;
}


.button {
    background-color: #333333; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.input{
     padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 5px;
  margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; 
      -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
        
        }
textarea{
     width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    padding: 5px;
    margin-top: 10px;
}


/* ------------------   HTML -------------------------------*/

/* -----CABECERA MENU-----*/

.menu {   
        width: 100%;
        height: 600px;        
        background-image: url(../img/boat2.png); 
        background-position: center;
        color:white;
    background-color: #419dea;
    background-repeat: no-repeat;
    }

.menu_button { 
               text-align: center;
                list-style: none;               
}

.menu_div{
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        top:15%;
        bottom: 0;
        margin-left: 0;
    margin-right: 10px;
    background-attachment: fixed;
        }


.li{     
    display: inline-block;
  transform: scale(1.1,1.1);
    text-decoration: none;
    
    float: right;   
  background-color: #333333;
    margin:10px;
    padding:10px;
    text-decoration: none;
    font-style: normal;
    width:90px; 
    height: 50%;
    text-align: center;
    color: white;
    border: 8px solid #F5F5F5;
    }

.h2_seccion_primera{
    text-align: left;
    font-size: 3em;
    color:#ffffff;   
     margin-top: 0;
        margin-bottom: 0;
        position: relative;
        top:70%;
        bottom: 0;
        margin-left: 0;
    margin-right: 0;
    font-weight: 100;
    padding-left: 15px;
}

.h2_titulo p{
    text-align: left;
    font-size: 1.2em;
    color:#ffffff;   
     margin-top: 0;
        margin-bottom: 0;
        position: relative;
        top:70%;
        bottom: 0;
        margin-left: 0;
    margin-right: 0;
    font-weight: 100;
    padding-left: 15px;
}

.h2_titulo{background-color:#419dea; }

/* -----------  primera section   --- */
.seccion_primera{
    float: none;
      
    margin-bottom: 1em;
    padding: 5%;
    background-color:#333333;  
    color:white;
}


.img_bici{
    
  position: relative;
    top:0;
    bottom: 0px;
    animation: bici 6s infinite;
}

@keyframes bici {
    from {left: 0px;}
    to {left: 300px;}
}




.h3_seccion_primera{
   
    font-size: 4em;
    color:#85c1f3;
     text-align: left;
                
}


.span_sobre_mi{font-weight: 100;}




/***    contacto   **/

.contacto{
    background-image: url(../img/boat2.png);
    background-position: right;
    background-repeat: no-repeat;
     background-color:#E7E7E7; 
        padding-top: 3em;
    padding-bottom: 3em;
    color: white;
    padding-left: 10%;
    padding-right: 10%;  
    height: 650px;
        padding: 3em;
}
 .col_for{ 
    padding: 20px; 
     max-width: 500px;
}  


.h2_contacto{font-size: 3em; 
    text-align: center;
    margin: 10px;    
}




/*  footer  */

.footer{background-color: #333333; 
        color:white;
    font-weight: 200;
}

.col_footer{ 
    padding: 20px;
    text-align: center;
    column-count: 2;
    column-gap: 40px;   
    column-rule: 2px outset #ffffff;
}




/*---------------portfolio  ---*/

.section_portfolio{
            background-color:#F5F5F5;   
           
    padding: 20px;
    
            }

.section_portfolio_h2{
    font-size: 3.5em;
    text-align: center;
    color: #419dea;
    font-weight: 100;
}

.div_port{margin: 0;padding-left: 10%;
        padding-right: 10%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


#imagenes {

  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;  
    margin: 5px;
}

#imagenes img {
  
  width: 100% !important;
  height: auto !important;
    border: 10px solid white;
}



@media (max-width: 1900px) {
  #imagenes {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}




@media (max-width: 1200px) {
  #imagenes {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 1000px) {
  #imagenes {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #imagenes {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #imagenes {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}






